SPRING_PROFILES_ACTIVE=prod
FUEL_FINDER_CLIENT_ID=<client-id>
FUEL_FINDER_CLIENT_SECRET=<client-secret>
SPRING_DATASOURCE_URL=jdbc:postgresql://<database-host>:5432/<database-name>
SPRING_DATASOURCE_USERNAME=<database-user>
SPRING_DATASOURCE_PASSWORD=<database-password>
